@font-face {
    font-family: bebasNeue;
    src: url(../assets/BebasNeue-Regular.ttf);
}



.iconCredit {
    position: relative;
    left: 50%;
    float: left;
    font-size: smaller;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../assets/church-hill.jpg);
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    z-index: 1;
}

a:visited {
    color: black;
}

nav {
    position: absolute;
    top: 0;
    float: left;
    height: 80px;
    width: 100%;
    background-color: red;
    font-family: bebasNeue;
    font-size: xx-large;
    font-weight: bolder;
    z-index: 2;
}

nav h1 {
    position: relative;
    float: left;
    top: -30px;
    left: 10px;
    z-index: 2;
}

nav ul {
    position: relative;
    float: left;
    left: 150px;
    list-style: none;
    text-decoration: none;
    z-index: 2;
}

nav ul li {
    position: relative;
    float: left;
    top: -30px;
    left: 20px;
    list-style-type: none;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    z-index: 2;
}

nav ul li a {
    text-decoration: none;
    z-index: 2;
}

nav ul li a:visited {
    text-decoration: none;
    color: black;
    z-index: 2;
}

footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: red;
    font-family: "bebasNeue";
    padding: 20px 0px 40px 0px;
    z-index: 2;
}

footer h2 {
    position: relative;
    float: left;
}

footer p {
    position: relative;
    left: 40%;
    float: left;
    font-size: smaller;
}

#pageContainer {
    position: relative;
    min-height: 100vh;
}

#contentWrap {
    padding-bottom: 2.5rem;
}

#searchHeader {
    position: relative;
    top: 200px;
    padding: 0;
    margin: 0;
    float: left;
    font-family: "bebasNeue";
    color: wheat;
}

#iconBar {
    position: relative;
    padding-left: 500px;
    float: left;
}